body {
    margin: 0;
    padding: 0;
    background-color: #ff7b00;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.slide {
    padding: 50px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

img {
    width: 300px;
    border-radius: 15px;
    margin: 20px 0;
}



p {
    font-size: 20px;
    width: 70%;
    margin: auto;
}

.boton {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}